services:
  - type: web
    plan: free
    name: ğš‚ğ™²ğ™°ğšğ™»ğ™´ğšƒğšƒ ğ™±ğ™¾ğšƒ
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    repo: https://github.com/Satiz004/SCARLETT.git      
    branch: main
    envVars:
      - key: BOT_TOKEN 
        sync: true
      - key: API_ID 
        sync: true
      - key: API_HASH 
        sync: true
      - key: AUTH_CHANNEL
        sync: true
      - key: DATABASE_NAME
        sync: true
      - key: DATABASE_URL 
        sync: true
      - key: PICS 
        sync: true
      - key: ADMINS
        sync: true    
      - key: LOG_CHANNEL
        sync: true
    autoDeploy: false 
